name: Update Comment

on:
  status

jobs:
  update-pr-status:
    runs-on: ubuntu-latest

    steps:
      - name: Comment
        run: |
          curl --request POST \
            --url "https://api.github.com/repos/$owner/$repo/commits/$commit_sha/comments" \
            --header "Authorization: Bearer ${{ secrets.SPUR_GITHUB_STATUS_UPDATE}}" \
            --header "Content-Type: application/json" \
            --data '{
              "body": "'"$comment"'"
            }'
