name: Update Comment

on:
  status

jobs:
  update-pr-status:
    runs-on: ubuntu-latest

    steps:
      - name: Extract Comments
        run: |
          status_event=$(cat $GITHUB_EVENT_PATH)
          comments=$(echo "$status_event" | jq -r '.comment.text')
          echo "Comments in the status event: $comments"
      - name: Comment
        run: |
          curl --request POST \
            --url "https://api.github.com/repos/snehasquasher/fullstackcourse/commits/c562d1d00028364a9a0ea06e62ba876612fc1059/comments" \
            --header "Authorization: Bearer ${{ secrets.SPUR_STATUS_UPDATE_TOKEN}}" \
            --header "Content-Type: application/json" \
            --data '{
              "body": "'"$comment"'"
            }'
